.TrendBox {font:10px/14px "Arial", "Helvetica Neue" , Helvetica, Arial, sans-serif;padding:15px 1.2em 15px 1.2em;max-width:250px;color:#fff;background-color:#9e9696;display:inline-block;margin:15 5px 5px 5px;height:50px;border-right:1px solid #eee;position:relative;top:0px;}
.TrendBox:nth-child(4){border-right:0px solid #fff;}

.RedTrend.TrendBox{background-color:#ff6666;}
.GreenTrend.TrendBox{background-color:#74B230;}
.TrendBox.RedTrend.NoBG{color:#ff0000;padding-top:0px;}
.TrendBox.GreenTrend.NoBG{color:#53831E;}
.TrendBox.NoBG{background-color:transparent;color:#676767;}
.TrendBox .trendLabel{display:block;margin-bottom:1em;font:15px/14px Arial;text-transform:uppercase;font-weight:bold;color:#4f5050;}
.TrendBox .trendLarge{font-size:33px;padding-top:0px;display:inline-block;}
.TrendBox .trendArrow{font-size:22px;display:inline-block;}
.TrendBox .trendSmall{font-size:14px;display:inline-block;padding-left:15px;color:#000;}

.TrendBox .trendSmall span{display:block;}
.TrendBox .fa{font-family: 'FontAwesome';font-style:normal;line-height:20px;padding-right:15px;}
.TrendBox .fa.fa-arrow-down::before{content: '\f175';}
.TrendBox .fa.fa-arrow-up::before{content: '\f176';}
.TrendBox .fa.fa-arrows-h::before{content: '\f07e';}




