.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*	for cubic button	*/
/*	for links  	*/
/***********************************************/
/*	for button-bg	*/
/******************************************/
/*********************	rotate button 	*********************/
/*======================= TYPOGRAPHY =======================*/
h1 a.custom_hover,
h2 a.custom_hover,
h3 a.custom_hover,
h4 a.custom_hover,
h5 a.custom_hover,
h6 a.custom_hover {
  /*.hover-up(@linkColor);*/
}
h4 {
  /*a.custom_hover{.hover-up(@linkColorHover);}*/
}
/*	button	*/
.btn {
  /*.hover-cub-vert(@btnBackground, @btnColor, @btnActBackground, @btnColorHighlight, 10px 20px 12px, 0);*/
}
/*	pagination	*/
.pagination {
  /*.pagenav{.hover-cub-vert(@paginationBackground, @paginationLink, @paginationActiveBackground, @paginationLinkAct, 6px 14px, 700px);}*/
}
.pagination span.pagenav {
  /*.active-cub-vert(@paginationActiveBackground, @paginationLinkAct);*/
}
.pagination.pagination-start span.pagenav,
.pagination.pagination-prev span.pagenav,
.pagination.pagination-next span.pagenav,
.pagination.pagination-end span.pagenav,
.pagination.pagination-start .span.hasTooltip,
.pagination.pagination-prev .span.hasTooltip,
.pagination.pagination-next .span.hasTooltip,
.pagination.pagination-end .span.hasTooltip {
  /*.active-cub-vert(@paginationActiveBackground, @paginationSpan);*/
}
/*	Lists	*/
.unstyled a > span > span,
.list1 a > span > span,
.list1 ul a > span > span,
.archive-module a > span > span,
.categories-module a > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}
.unstyled a > span > strong,
.list1 a > span > strong,
.list1 ul a > span > strong,
.archive-module a > span > strong,
.categories-module a > span > strong {
  display: block;
  color: #7a7a7a;
  font-weight: inherit;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.unstyled a:hover > span > span,
.list1 a:hover > span > span,
.list1 ul a:hover > span > span,
.archive-module a:hover > span > span,
.categories-module a:hover > span > span,
.unstyled a:focus > span > span,
.list1 a:focus > span > span,
.list1 ul a:focus > span > span,
.archive-module a:focus > span > span,
.categories-module a:focus > span > span,
.unstyled a:active > span > span,
.list1 a:active > span > span,
.list1 ul a:active > span > span,
.archive-module a:active > span > span,
.categories-module a:active > span > span,
.unstyled a.active > span > span,
.list1 a.active > span > span,
.list1 ul a.active > span > span,
.archive-module a.active > span > span,
.categories-module a.active > span > span,
.unstyled a.selected > span > span,
.list1 a.selected > span > span,
.list1 ul a.selected > span > span,
.archive-module a.selected > span > span,
.categories-module a.selected > span > span {
  opacity: 0;
  left: 10px;
}
.unstyled a:hover > span > strong,
.list1 a:hover > span > strong,
.list1 ul a:hover > span > strong,
.archive-module a:hover > span > strong,
.categories-module a:hover > span > strong,
.unstyled a:focus > span > strong,
.list1 a:focus > span > strong,
.list1 ul a:focus > span > strong,
.archive-module a:focus > span > strong,
.categories-module a:focus > span > strong,
.unstyled a:active > span > strong,
.list1 a:active > span > strong,
.list1 ul a:active > span > strong,
.archive-module a:active > span > strong,
.categories-module a:active > span > strong,
.unstyled a.active > span > strong,
.list1 a.active > span > strong,
.list1 ul a.active > span > strong,
.archive-module a.active > span > strong,
.categories-module a.active > span > strong,
.unstyled a.selected > span > strong,
.list1 a.selected > span > strong,
.list1 ul a.selected > span > strong,
.archive-module a.selected > span > strong,
.categories-module a.selected > span > strong {
  opacity: 1;
}
/*	menu	*/
#navigation-row {
  width: 100%;
  background: #7a7a7a;
}
#navigation-row .container:before {
  background-color: #7a7a7a;
}
.navigation ul.sf-menu {
  /*SubMenu Styles*/
}
.navigation ul.sf-menu > li.active > a:before,
.navigation ul.sf-menu > li.sfHover > a:before,
.navigation ul.sf-menu > li.current > a:before,
.navigation ul.sf-menu > li.active > span:before,
.navigation ul.sf-menu > li.sfHover > span:before,
.navigation ul.sf-menu > li.current > span:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.navigation ul.sf-menu > li > a,
.navigation ul.sf-menu > li > span {
  position: relative;
}
.navigation ul.sf-menu > li > a > span,
.navigation ul.sf-menu > li > span > span {
  position: relative;
  z-index: 3;
  display: block;
}
.navigation ul.sf-menu > li > a:before,
.navigation ul.sf-menu > li > span:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  opacity: 0;
  z-index: 1;
  background: #7a7a7a;
  
}
.navigation ul.sf-menu > li > a:hover:before,
.navigation ul.sf-menu > li > span:hover:before,
.navigation ul.sf-menu > li > a:focus:before,
.navigation ul.sf-menu > li > span:focus:before,
.navigation ul.sf-menu > li > a:active:before,
.navigation ul.sf-menu > li > span:active:before,
.navigation ul.sf-menu > li > a.active:before,
.navigation ul.sf-menu > li > span.active:before,
.navigation ul.sf-menu > li > a.selected:before,
.navigation ul.sf-menu > li > span.selected:before {
 
}
.navigation ul.sf-menu ul > li > a,
.navigation ul.sf-menu ul > li > span {
  /*.hover-cub-hor(@subMenuItemBgColor, @subMenuItemColor, @subMenuItemBgColorAct, @subMenuItemColorAct, 6px 12px, @menuItemWidth, 800px);*/
}
.navigation ul.sf-menu ul > li.active > a,
.navigation ul.sf-menu ul > li.sfHover > a,
.navigation ul.sf-menu ul > li.active > span,
.navigation ul.sf-menu ul > li.sfHover > span {
  /*.active-cub-hor(@subMenuItemBgColorAct, @subMenuItemColorAct);*/
}
/*	footer	*/
#copyright a > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}
#copyright a > span > strong {
  display: block;
  color: #777777;
  font-weight: inherit;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
#copyright a:hover > span > span,
#copyright a:focus > span > span,
#copyright a:active > span > span,
#copyright a.active > span > span,
#copyright a.selected > span > span {
  opacity: 0;
  left: 10px;
}
#copyright a:hover > span > strong,
#copyright a:focus > span > strong,
#copyright a:active > span > strong,
#copyright a.active > span > strong,
#copyright a.selected > span > strong {
  opacity: 1;
}
.social li a > span {
  position: relative;
}
.social li a > span > span {
  position: relative;
  z-index: 3;
  display: block;
}
.social li a > span:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  background: #1c1c1c;
  transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.social li a > span:hover:before,
.social li a > span:focus:before,
.social li a > span:active:before,
.social li a > span.active:before,
.social li a > span.selected:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
/*	scroll top top 	*/
#back-top a {
  position: relative;
}
#back-top a > span {
  position: relative;
  z-index: 3;
  display: block;
}
#back-top a:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  background: #1c1c1c;
  transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#back-top a:hover:before,
#back-top a:focus:before,
#back-top a:active:before,
#back-top a.active:before,
#back-top a.selected:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
