.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod_caroufredsel {
  overflow: hidden;
  margin-bottom: 30px;
  padding-top: 16px;
}
.mod_caroufredsel.mod_caroufredsel__big .item_title {
  font-size: 40px;
  line-height: 41px;
}
.caroufredsel_wrapper {
  cursor: auto !important;
}
.list_carousel {
  padding: 0;
  width: auto;
  position: relative;
  margin: 0 0 0 -30px;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list_carousel ul li {
  padding: 0 0 0 30px;
  margin: 0;
  display: block;
  float: left;
}
.list_carousel ul li .item_content {
  position: relative;
}
.list_carousel ul li .item_content .item_img {
  margin-bottom: 0;
}
.list_carousel ul li .item_content .item_img figcaption {
  background: url(../images/template/carfig.png) 0 0 repeat;
  color: #1c1c1c;
  font-size: 15px;
  line-height: 31px;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 11px 0 8px;
}
.list_carousel ul li .item_content .itemInner {
  background: url(../images/template/captionBg.png) 0 0 repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 18px;
}
.list_carousel ul li .item_content .itemInner .item_title {
  color: white;
  margin-bottom: 8px;
}
.list_carousel ul li .item_content .itemInner .item_info :before {
  color: white;
}
.clearfix {
  float: none;
  clear: both;
}
/*Navigation*/
.caroufredsel_prev,
.caroufredsel_next {
  position: absolute;
  top: 50%;
  display: block;
  height: 20px;
  width: 20px;
  margin: -10px 0 0 0;
  background: #000;
  line-height: 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caroufredsel_prev:hover,
.caroufredsel_next:hover {
  background: #fff;
  color: #000;
}
.caroufredsel_prev span,
.caroufredsel_next span {
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caroufredsel_prev {
  left: 30px;
}
.caroufredsel_next {
  right: 0;
}
/*Pagination*/
.caroufredsel_pagination {
  text-align: center;
}
.caroufredsel_pagination a {
  display: inline-block;
  padding: 0 0.5em;
}
