
.th_title
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #90B0C5;
}

.th_title_details
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial; 
  background-color: #CED9E0;
}
.beige
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #90B0C5;
}
.lightcyan
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #90B0C5;
}
.beige2
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.beige3
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.beige4
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.lightgrey
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.lavender
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.mistyrose
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.lightgreen
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.newtransactions
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.ivory
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.separateheader
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #90B0C5;
}
.powderblue
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.mintcream
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #FFFFFF;
}
.blankline
{
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-family: arial;
  background-color: #90B0C5;
}

