/*These Styles Need to be Added to my_evo_style.css*/
		.reset_all{padding:0px !important;margin:0px !important;}/*resetting margins/paddings*/
	        .stepcarousel{ position: relative; /*leave this value alone*/border: 10px solid black;overflow: scroll; /*leave this value alone*/width: 458px; /*Width of Carousel Viewer itself*/height: 100px; /*Height should enough to fit largest content's height*/}
        .stepcarousel .belt{position: absolute; /*leave this value alone*/left: 0; top: 0;}
         
        .stepcarousel .panel{float: left; /*leave this value alone*/ overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/ margin: 3px; /*margin around each panel*/width: 100px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */}
       /* .loadingScreenPage{text-align: center;background-color: #eeeeee; filter: alpha(opacity=80);opacity: 0.8;width: 500px; padding: 50px; margin-left: auto; margin-right: auto;margin-top: 200px; border: 1px solid #003957; }
        */
        .tab_body {padding:5px;}
        .tab_body h1{font-size:17px;border-bottom:1px solid #444444;}
		.notes_list_edit{ width:97% !important;margin:3px;border:1px solid #B6B6B2;padding:5px;background-color:#FFF7C0;}
        .edit_panel_h4{color:#4d7997;font-size:16px;border-bottom:4px solid #c3d7e4;text-transform:uppercase;text-align:right;}
        .edit_panel_h3{color:#4d7997;font-size:13px;margin:0px;padding:0px 0px 3px 0px;border-bottom:3px solid #4d7997;}
        .edit_panel_blue_shaded{background-color:#f5fafd;font-size:12px;}
        .edit_panel_input_btn{border: 1px solid #053b72;background: #177edd;color:#ffffff;margin-right:3px;}
        .edit_panel_input_btn_hov {border: 1px solid #053b72;background: #95bce0;color:#000000;margin-right:3px;}
        
         
         .shaded_white_box {background-image: url('../images/details_background.png' );background-repeat: repeat; width: 990px;padding:0px 25px 15px 15px;margin-left: auto;margin-right: auto;-webkit-box-shadow:  1px 1px 1px 1px #444444;box-shadow:  1px 1px 1px 1px #444444;}
          
         .larger_link{font-size:14px;} 
           

        
        .small_panel_height {overflow: auto;height: 300px;display: block;} 
        .large_panel_height{overflow:auto;max-height:590px;display:block;min-height:300px;}
         
       /*.Main_Aircraft_Display_Table td {font-size: 12px !important; }*/
        


      
        .aircraft_title_details_page{margin: 0px;padding: 0px; font-size: 16px !important;font-weight: bold;color: #031634;border-bottom: 1px solid #758399;}
        .aircraft_title_details_page b { color: #435571; font-style: italic; font-weight: normal;}
        


        .details_header{background-color: #538ca1;font-weight: normal; }
        

        .company_table .light_blue { border: 1px solid #4d4d4d; background-color: #f2f2f2;background-image: url('../images/phone_details_watermark.png' );background-repeat: no-repeat; background-position: right bottom; margin-top: 1px;}
       
        .company_table .light_gray { border: 1px solid #4d4d4d; background-color: #fff;background-image: url('../images/phone_details_watermark.png' );background-repeat: no-repeat;background-position: right bottom; margin-top: 1px; }
        
        .ID_SPEC_CARD { padding: 0px; margin: 0px; width: 100%;}

        .spec_image { padding: 3px 2px 3px 1px; float: left; }
        
        .add_new_note, .add_new_note:active { font-size: 11px;display: block; margin-bottom: 5px; color: #0000ee; }
        
        #outerDivAcDetailsID { background-image: url('../images/details_background.png' );background-repeat: repeat;width: 990px;margin-left: auto;margin-right: auto;}
        
/*---------------------------------------end styles-------------------------------------------------*/






.sliderwrapper{
margin:0px;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 477px; 
border:1px solid #222222;
padding:0px;
min-height:350px;
}

/*Gray Overlay Text*/
.overlay_bottom_gray{padding:7px;text-align:center;color:#ffffff !important;background-image:url('../images/slideshow_caption.png');background-repeat:repeat;width:100%;position:absolute;bottom:0px;left:0px;z-index:99;
-webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3); box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3);font-size:12px;font-weight:bold;
}
.overlay_bottom_gray span{display:block;color:#efefef;}
.overlay_bottom_gray b{font-size:15px;display:block;padding-left:1px;}


.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 0px;
background: white;
margin:0px;
/*width: 510px; width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
width:100%;
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
z-index:0;
}


.pagination
{
width:100%;
/*width: 510px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: right;
/*background-color: white;*/
padding: 5px 2px 5px 5px;
position:absolute;
z-index:1000;
top:6px;
right:0px;
}

.pagination a{
padding: 3px 7px;
text-decoration: none; 
color: #ffffff;
margin-left:1px;
margin-right:1px;
background-image:url('../images/slideshow_off.png');
background-repeat:no-repeat;
}

.pagination a:hover, .pagination a.selected{
color:#ffffff;
background-image:url('../images/slideshow_on.png');
background-repeat:no-repeat;
}




.sliderwrapper2{
margin:0px;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 225px; 
border:1px solid #222222;
padding:0px;
min-height:200px;
}

.sliderwrapper2 .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 0px;
background: white;
margin:0px;
width: 225px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
z-index:0;
}

.pagination2{
width: 225px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: right;
/*background-color: white;*/
padding: 5px 2px 5px 5px;
position:absolute;
z-index:260;
top:6px;
right:0px;
}


.pagination2 a{
padding: 3px 7px;
text-decoration: none; 
color: #ffffff;
margin-left:1px;
margin-right:1px;
background-image:url('../images/slideshow_off.png');
background-repeat:no-repeat;
}

.pagination2 a:hover, .pagination2 a.selected{
color:#ffffff;
background-image:url('../images/slideshow_on.png');
background-repeat:no-repeat; 
}

.contentdiv img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}