.gray_menu_repeat{background-color:#b0b0b6;}
.switch_icon{margin-top:0px !important;}
.gold_icon{padding-bottom:0px !important;}
.dark_header .switch{margin:0px 0px 0px 0px !important;}
.specialHeaderTab{border-left:1px solid #676767 !important;border-right:1px solid #676767 !important;border-top:1px solid #676767 !important;background-color:#4d4d4d;color:#fff;border-radius:5px 5px 0px 0px;font-size:11px;margin-right:5px;margin-left:0px;padding:5px 15px 6px 15px;}
.specialHeaderTab{color:#fff !important;text-decoration:none !important;}
.specialHeaderTab:hover, .selectedTab{color:#000 !important;text-decoration:underline !important;background-color:#eeeeee !important;}
.gradient-icon::before
{
  font-size: 16px;
  margin-left: 5px;
  margin-right: 10px;
  content: '\f00b';
  font-family: 'FontAwesome';
  color: White;
}
.gradient-icon
{
  color: White;
  text-decoration: none;
  font-weight: bold;
  opacity:1;
}

.gradient-background
{
  background-color: rgba(0, 93, 171, 0.9);
  padding: 0px;
  overflow: hidden;
  margin-left: -.5em;
  position: fixed;
  left: 5px;
  z-index: 800000;
  top: 20%;
  width: 50px;
  height: 140px;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
    opacity: .9;
    -webkit-box-shadow: 1px 1px 1px 1px #000000;
box-shadow: 1px 1px 1px 1px #000000;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.gradient-background:hover
{
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
  padding-left:15px;
}


.gradient-background a
{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block;
  width: 126px;
  margin-left: -40px;
  margin-top: 66px;
  font-size: 16px;
  color: White !important;
}
.sidr
{
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  background-color: rgb(190, 225, 255);
  color: #000;
  -webkit-box-shadow: inset 0 0 5px 5px #98B3D2;
  -moz-box-shadow: inset 0 0 5px 5px #98B3D2;
  box-shadow: inset 0 0 5px 5px #98B3D2;
}
.sidr #close-menu-button::before
{  content: '\f05c';
  padding-right:3px;
  font-family: 'FontAwesome';
  color: #000;}

.sidr #close-menu-button
{   padding-left:15px;
  position: absolute;
  top: 3px;
  right: 6px;
  color: #000;
  font-size: .9em;
  text-decoration:none;
}
.sidr #left_nav_tv tr
{
  display: block;
  padding: 1px;
  margin-left: 3px;
}
.sidr .subnode a
{
  display: block;
  margin-left: 24px;
}
.sidr .sidr-inner
{
  padding: 0 0 15px;
}
.sidr .sidr-inner > p
{
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right
{
  left: auto;
  right: -260px;
}
.sidr.left
{
  left: -260px;
  right: auto;
}
.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6
{
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #fff;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(#4d4d4d,#1a1a1a);
  background-image: -moz-linear-gradient(#4d4d4d,#1a1a1a);
  background-image: -o-linear-gradient(#4d4d4d,#1a1a1a);
  background-image: linear-gradient(#4d4d4d,#1a1a1a);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
}
.sidr p
{
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a
{
  color: rgba(255,255,255,0.9);
}
.sidr > p
{
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul
{
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 0px solid #1a1a1a;
  border-bottom: 0px solid #4d4d4d;
}
.sidr ul li
{
  display: block;
  margin: 0;
  line-height: 36px; /* border-top: 1px solid #4d4d4d;*/
  border-bottom: 1px solid #98B7BA;
}

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active
{
  border-top: none;
  line-height: 36px;
}
.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span
{
text-decoration:underline;
}
.sidr ul li a, .sidr ul li span
{
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #000;
}
.sidr ul li ul
{
  border-bottom: none;
  margin: 0;
}
.sidr ul li ul li
{
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child
{
  border-bottom: none;
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active
{
  border-top: none;
  line-height: 41px;
}
.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span
{
  -webkit-box-shadow: inset 0 0 15px 3px #222;
  -moz-box-shadow: inset 0 0 15px 3px #222;
  box-shadow: inset 0 0 15px 3px #222;
}
.sidr ul li ul li a, .sidr ul li ul li span
{
  color: rgba(255,255,255,0.8);
  padding-left: 30px;
}
.sidr form
{
  margin: 0 15px;
}
.sidr label
{
  font-size: 13px;
}
.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select
{
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox]
{
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button], .sidr input[type=submit]
{
  color: #333;
  background: #fff;
}
.sidr input[type=button]:hover, .sidr input[type=submit]:hover
{
  background: rgba(255,255,255,0.9);
}
