
TD
{
    font-size: 8pt;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

TH
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: black;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
    background-color: #cccccc;
}

.Label
{
    color: black;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

.Normal
{
    font-size: 8pt;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

INPUT
{
    font-size: 8pt;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

SELECT
{
    font-size: 8pt;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

DIV
{
    font-size: 8pt;
    font-family: Arial, Times, Verdana, Geneva, Helvetica, sans-serif;
}

body 
{ 
  background-color:#ffffff; 
}

table.break 
{ 
  page-break-before: always; 
}

table.centerTable 
{
   margin-right: auto; 
   margin-left: auto; 
}